STELLAR_NETWORK=testnet
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_SECRET_KEY=your_testnet_secret_key_here
STELLAR_COORDINATOR_SECRET=your_testnet_coordinator_secret_here
VENICE_API_KEY=your_venice_api_key_here
RUN_STELLAR_E2E_TESTS=false
